html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,time,mark,audio,video,details,summary {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-weight:normal;
    vertical-align:baseline;
    background:transparent;
}

article,aside,figure,footer,header,nav,section,details,summary {
    display: block
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img {
    border: 0;
    max-width: 100%
}

ul,ol {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

:focus {
    outline: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

del {
    text-decoration: line-through
}

small {
    font-size: 85%
}

strong {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: bold;
    vertical-align: bottom
}

td {
    font-weight: normal;
    vertical-align: top
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

input,select {
    vertical-align: middle
}

input[type="radio"] {
    vertical-align: text-bottom
}

input[type="checkbox"] {
    vertical-align: bottom
}

button,input,select,textarea {
    margin: 0
}

a,img {
    -webkit-touch-callout: none
}

a,button {
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}

input[type=text],input[type=number],input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

html,body {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent
}

body {
    line-height: 1.5;
    font-size: 16px;
    color: #222;
    background: #fff;
    font-family: -apple-system-font, PingFang SC, "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

a {
    color: #fff;
    text-decoration: none
}

@-webkit-keyframes animateFix {
    0%,100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes animateFix {
    0%,100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.page {
    position: relative;
    z-index: 1
}

.page-container {
    padding: 22px 18px;
    /* color:#222 */
}

.page-header {
    display: none
}

@media screen and (min-width: 1024px) {
    .page-container {
        max-width:677px;
        margin-left: auto;
        margin-right: auto
    }

    .page .go-app {
        display: none
    }

    .page-container {
        padding-top: 90px
    }

    .page-header {
        display: block
    }
}

.loading-more {
    margin: 30px 0;
    padding: 11px 0;
    background: #f7f7f7;
    color: #999;
    font-size: 14px;
    text-align: center;
    cursor: pointer
}

.loading-more:hover {
    color: #666;
    background: #f2f2f2
}

.label {
    display: block;
    min-width: 30px;
    height: 16px;
    padding: 0 2px;
    line-height: 14px;
    font-size: 11px;
    text-align: center;
    color: #A9A9A9;
    border: thin solid #dadada;
    border-radius: 3px
}

.header {
    margin-bottom: 30px
}

.header .title {
    line-height: 30px;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    word-break: break-all
}

.header .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 18px;
    margin-top: 18px;
    font-size: 14px;
    white-space: nowrap
}

.header .logo {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%
}

.header .author {
    display: block;
    margin-left: 3px;
    color: #7F7F7F;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis
}

.header .date {
    position: relative;
    margin-left: 18px;
    color: #B2B2B2;
    font-size: 13px
}

.header .date:before {
    content: '';
    position: absolute;
    left: -9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background: #D8D8D8
}

.header .label {
    margin-left: 7px
}

.article blockquote {
    margin: 30px 0;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #A0A0A0;
    word-break: break-all
}

.article blockquote:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;
    width: 18px;
    height: 16px;
    margin-right: 9px;
    background: url(//om.gtimg.cn/page/detail/60e100f7c4e8ed7501873ef9e1219f00.png) no-repeat;
    background-size: cover
}

.article h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    word-break: break-all
}

.article h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    word-break: break-all
}

.article>p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 28px;
    font-size: 17px;
    text-align: justify;
    word-break: break-all
}

.article a {
    color: #4065A0
}

.img-mod {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center
}

.img-mod img {
    display: block;
    border-radius: 8px
}

.img-mod p {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #9B9B9B;
    text-align: center;
    word-break: break-all
}

.qq_music {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 68px;
    margin: 24px 0;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    background: #fafafa url(//om.gtimg.cn/page/detail/35bed2565a8846fc9dea2de2b8fc1d65.png) no-repeat;
    background-size: 12px 13px;
    background-position: 98% 92%
}

.qq_music .play_area {
    position: relative;
    left: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    margin-right: 14px;
    border-radius: 4px 0 0 4px;
    background: url(//om.gtimg.cn/page/detail/e22176b67c9cacc13cb157accad9f003.png) no-repeat;
    background-size: 100%
}

.qq_music .qqmusic_albumpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
    border-radius: 4px 0 0 4px
}

.qq_music .audio_btn {
    position: relative;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(//om.gtimg.cn/page/detail/99cd8f914d9696a03b7e666e2e61eba9.png)
}

.qq_music .audio_btn.play {
    background-image: url(//om.gtimg.cn/page/detail/615372752401fb1f277899cca0b35360.png)
}

.qq_music .qqmusic_info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.qq_music .qqmusic_info p {
    margin: 0
}

.qq_music .qqmusic_singer {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.btn-play {
    background-image: url(//om.gtimg.cn/page/detail/99cd8f914d9696a03b7e666e2e61eba9.png)
}

.btn-pause {
    background-image: url(//om.gtimg.cn/page/detail/615372752401fb1f277899cca0b35360.png)
}

.video-mod {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px
}

.video-mod .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-size: 100%
}

.video-mod img {
    display: block
}

.summary {
    padding: 12px 16px;
    margin: 15px 0;
    line-height: 29px;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    color: #A0A0A0;
    border-radius: 4px;
    background: #F8F8F8;
    word-break: break-all
}

.vote-mod {
    margin: 20px 0;
    padding: 18px 18px 20px;
    background: #F8F8F8;
    border-radius: 4px
}

.vote-mod .title {
    font-size: 18px;
    font-weight: bold
}

.vote-mod .label {
    display: inline-block;
    position: relative;
    top: -2px;
    border-color: #c4c4c4;
    color: #666;
    font-size: 13px;
    min-width: 34px;
    line-height: 19px;
    height: 21px;
    margin-left: 10px
}

.vote-mod .number {
    margin-bottom: 5px;
    font-size: 14px;
    color: #999
}

.vote-mod .type {
    margin-top: 5px;
    font-size: 14px;
    color: #999
}

.vote-mod .option {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #4065A0;
    cursor: pointer
}

.vote-mod .option.disabled {
    color: #BDBDBD
}

.vote-mod .option+.option {
    margin-top: 15px
}

.vote-mod button+.option {
    margin-top: 15px;
    margin-bottom: 0
}

.vote-mod-content+.vote-mod-content {
    margin-top: 45px
}

.vote-mod-content .number {
    margin-top: 5px;
    margin-bottom: 0
}

.vote-mod.error {
    text-align: center
}

.vote-mod.error a {
    position: relative;
    display: block;
    padding: 130px 0;
    background: url(//om.gtimg.cn/page/detail/017f8c0f91a6e8cffc4517e28475a5f8.png) no-repeat;
    background-size: 73px 54px;
    background-position: 50% 84px
}

.vote-mod.error .desc {
    display: block;
    position: absolute;
    bottom: 83px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px;
    color: #9C9C9C;
    white-space: nowrap
}

.vote-list {
    margin-top: -5px
}

.vote-list .radio,.vote-list .radioChecked,.vote-list .checkbox,.vote-list .checkboxChecked {
    position: relative;
    display: block;
    padding: 16px 0;
    padding-left: 24px;
    border-bottom: 1px solid #eee;
    cursor: pointer
}

.vote-list .radio:before,.vote-list .radioChecked:before,.vote-list .checkbox:before,.vote-list .checkboxChecked:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #E1E1E1
}

.vote-list .radioChecked:before {
    background: url(//om.gtimg.cn/page/detail/a6acffe28ed7442d19ae2737ddc123a3.png) no-repeat;
    background-size: 100%;
    border: 0 none
}

.vote-list-multi .checkbox:before,.vote-list-multi .checkboxChecked:before {
    width: 13px;
    height: 13px;
    border-radius: 2px
}

.vote-list-multi .checkboxChecked:before {
    background: url(//om.gtimg.cn/page/detail/74e554f7b0e2d92aa5bd94fff07b1951.png) no-repeat;
    background-size: 100%;
    border: 0 none
}

.vote-btn {
    display: block;
    margin: 20px auto 0;
    width: 88px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 19px;
    border: 0;
    color: #000;
    background: #F7E81B;
    cursor: pointer
}

.vote-btn.disabled {
    color: #fff;
    background: #ddd
}

.vote-result-list {
    margin-top: 13px
}

.vote-result-list li {
    margin-bottom: 19px
}

.vote-result-list .item-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 6px
}

.vote-result-list .item-name .percent {
    font-size: 14px;
    color: #999
}

.vote-result-list .item-progress {
    position: relative;
    height: 10px;
    width: 100%;
    overflow: hidden;
    background: #E6E6E6;
    border-radius: 8px
}

.vote-result-list .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    background: #F7E81B;
    border-radius: 8px 0 0 8px
}

.allCommentLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0;
    color: #000
}

.allCommentLabel:before,.allCommentLabel:after {
    content: '';
    display: block;
    width: 14px;
    height: 1px;
    background: #222
}

.allCommentLabel:before {
    margin-right: 12px
}

.allCommentLabel:after {
    margin-left: 12px
}

.commentItemWrapper {
    margin-top: -17px
}

.commentItemWrapper .commentItem {
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px
}

.commentItemWrapper .commentItem:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 40px);
    height: 1px;
    background: #f4f4f4
}

.commentItemWrapper .commentItem:last-child:before {
    content: none
}

.commentItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.commentItem .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.commentItem .avatar img {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%
}

.commentItem .contentWrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.commentItem .commentNameWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.commentItem .commentName {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    color: #666
}

.commentItem .commentDate {
    font-size: 11px;
    color: #bbb
}

.commentItem .commentContent {
    margin: 8px 0;
    line-height: 26px;
    text-align: justify;
    word-break: break-all
}

.commentItem .commentLikeNum {
    padding-left: 17px;
    font-size: 13px;
    color: #909090;
    background: url(//om.gtimg.cn/page/detail/554d1f8b97d9a623c5fdae6315531108.png) no-repeat;
    background-size: 13px 14px;
    background-position: 0px 1px
}

.comment-footer {
    margin: 15px 0;
    height: 30px;
    background: transparent url(//om.gtimg.cn/page/detail/b6bbbaf938565af17291ca2020211848.png) no-repeat center center;
    background-size: 173px 13px;
    display: none
}

.comment-footer.show {
    display: block
}

.page-loading {
    text-align: center;
    font-size: 0;
    height: 25px;
    margin-bottom: 25px
}

.page-loading .icon-loading {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    background: url(//om.gtimg.cn/page/detail/38974cae33794e17f3255b387bb03169.gif) no-repeat 0 0;
    background-size: 25px auto
}

.page-loading.hide {
    display: none
}

.no-comment {
    display: block;
    width: 114px;
    height: 102px;
    background: transparent url(//om.gtimg.cn/page/detail/c77ebcad75e163a0e6c35288df293f1c.png) no-repeat center center;
    background-size: 114px 102px;
    margin: 60px auto
}

.no-comment.hide {
    display: none
}

.omapp-view {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));
    height: calc(57px + constant(safe-area-inset-bottom));
    height: calc(57px + env(safe-area-inset-bottom));
    background: #fff;
    -webkit-box-shadow: 0 7px 21px 0 rgba(138,138,138,0.5);
    box-shadow: 0 7px 21px 0 rgba(138,138,138,0.5);
    -webkit-animation: animateFix .1s both
}

.omapp-view-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.omapp-view-logo {
    display: block;
    width: 38px;
    margin-right: 10px
}

.omapp-view-title {
    line-height: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px
}

.omapp-view-desc {
    line-height: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px
}

.omapp-view-btn {
    min-width: 62px;
    height: 28px;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background-color: #f8e81b;
    border-radius: 14px
}

.omapp-view+.page-container {
    padding-bottom: 90px;
    padding-bottom: calc(90px + constant(safe-area-inset-bottom));
    padding-bottom: calc(90px + env(safe-area-inset-bottom))
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    min-width: 120px;
    max-width: 240px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    word-break: break-all;
    border-radius: 5px;
    background: rgba(0,0,0,0.65)
}

.error-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    margin: -22px -18px
}

.error-content img {
    display: block;
    width: 101px;
    height: 89px
}

.error-content p {
    margin-top: 22px;
    line-height: 20px;
    font-size: 14px;
    color: #BBB;
    text-align: center
}

.page-header {
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #3ebdff;
    position: absolute;
    z-index: 19;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,37,55,0.1);
    box-shadow: 0 1px 3px 0 rgba(0,37,55,0.1)
}

.page-header .container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1
}

.header-login {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
    height: 100%
}

.header-login .cell {
    float: left;
    position: relative;
    height: 40px;
    padding-top: 20px;
    margin-right: 7px;
    margin-left: 7px;
    line-height: 20px
}

.header-login .cell-user {
    padding-left: 90px
}

.header-login .cell-message {
    margin-right: 25px
}

.header-login-inner .link-message {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 1px
}

.header-login-inner .link-message:hover .icon-message {
    opacity: 0.8
}

.header-login-inner .name {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    top: 1px;
    color: #222;
    cursor: pointer
}

.header-login-inner .name .caret {
    margin-left: 9px;
    position: relative;
    top: -2px;
    display: inline-block;
    width: 0;
    height: 0;
    color: #666;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

.header-login-inner .avatar {
    vertical-align: top;
    margin-right: 15px;
    position: relative;
    top: -10px
}

.header-login-inner .avatar img {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border-radius: 100%
}

.header-login-inner .avatar a {
    cursor: default
}

.header-login-inner .label-shenfen {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    margin-right: 6px
}

.header-login-inner .label-shenfen-a {
    background: #f77274
}

.header-login-inner .label-shenfen-b {
    background: #55c878
}

.header-login-inner .label-shenfen-c {
    background: #26b2f7
}

.header-login-inner .label-shenfen-t {
    background: url(//om.gtimg.cn/page/detail/56451468d16d446dbc8a221ab0e1510f.png) no-repeat 100%;
    background-size: cover
}

.header-login-inner .avatar .link-aoyun2016,.header-login-inner .avatar .link-shenfen {
    position: absolute;
    left: -10px;
    top: 21px
}

.header-login-inner .avatar .mark-lv {
    padding: 0px 5px;
    border: 1px solid #ff821d;
    color: #ff821d;
    border-radius: 10px;
    background: #fff;
    font-size: 12px;
    position: absolute;
    left: 35px;
    top: 4px;
    line-height: 12px
}

.header-login .cell-logout {
    padding-left: 20px;
    margin-left: 0;
    margin-right: 10px
}

.header-login .cell-logout:before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 1px;
    height: 18px;
    background-color: #e3e3e3
}

.header-login .cell .link-logout {
    font-size: 14px;
    color: #666;
    position: relative;
    top: 1px
}

.header-login .cell .link-logout:hover {
    color: #444
}

.header .login-out {
    position: absolute;
    right: 20px;
    top: 20px
}

.quick-panel-message .quick-panel-arrow {
    margin-right: 40px
}

.quick-message-content {
    font-size: 14px;
    color: #222;
    line-height: 24px;
    padding: 15px 20px;
    position: relative;
    margin: 0 -20px
}

.quick-message-content:hover {
    background-color: #fbfbfc
}

.quick-message-content .text-date {
    color: #8e9aaa;
    display: inline-block;
    margin-left: 10px
}

.quick-message-list {
    padding: 0 20px
}

.quick-message-list .more {
    border-top: 1px solid #eff2f6
}

.quick-message-list .more-link {
    display: block;
    line-height: 24px;
    text-align: center;
    color: #666;
    padding: 15px
}

.quick-message-list .more-link:hover {
    color: #444
}

.quick-dropdown-menu {
    padding: 0 30px
}

.quick-dropdown-menu li a {
    display: block;
    color: #222;
    line-height: 25px;
    padding: 5px;
    margin: 0 -30px;
    text-align: center
}

.quick-dropdown-menu li a:hover {
    background-color: #fbfbfc
}

.quick-panel-account {
    width: 115px
}

.quick-panel-account .quick-panel-arrow {
    right: 30px
}

.quick-dropdown-menu .item-logout {
    border-top: 1px solid #eff2f6
}

.quick-panel-account2 {
    width: 216px;
    margin-right: -30px
}

.quick-panel-account2 .pic-code {
    float: left;
    padding-left: 10px;
    padding-top: 10px
}

.quick-panel-account2 .quick-dropdown-menu {
    overflow: hidden;
    position: relative;
    top: 6px
}

.quick-panel-account2 .quick-panel-body {
    padding-bottom: 10px
}

.quick-panel-account2 .quick-panel-arrow {
    right: 30px
}

.quick-panel-account3 {
    width: auto;
    white-space: nowrap
}

.quick-panel-account3 .pic-code {
    float: left;
    padding-top: 10px;
    padding-left: 10px
}

.quick-panel-account3 .pic-code img {
    display: inline-block;
    vertical-align: top
}

.quick-panel-account3 .pic-code+.quick-dropdown-menu {
    margin-left: 100px
}

.quick-panel-account3 .quick-dropdown-menu {
    position: relative;
    padding: 6px 0 6px 0
}

.quick-panel-account3 .quick-dropdown-menu li {
    padding: 0
}

.quick-panel-account3 .quick-dropdown-menu li a {
    margin: 0;
    padding: 0;
    line-height: 23px;
    padding: 5px 20px
}

.quick-panel-account3 .quick-dropdown-menu.has-codecard li {
    padding: 0 10px
}

.quick-panel-account3 .quick-dropdown-menu.has-codecard li a {
    line-height: 23px;
    padding: 5px 10px
}

.quick-panel-account3 .quick-panel-arrow {
    width: 20px;
    right: 50%;
    margin-right: -10px
}

.header-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    font-size: 0;
    line-height: 0;
    color: transparent
}

.header-logo-link {
    display: block;
    margin-top: 0px;
    width: 245px;
    height: 60px;
    background: 0 12px no-repeat;
    background-image: url(//om.gtimg.cn/page/detail/26c61819374d3ecc798b21ca3ba9dc1a.png);
    background-image: -webkit-image-set(url(//om.gtimg.cn/page/detail/26c61819374d3ecc798b21ca3ba9dc1a.png) 1x, url(//om.gtimg.cn/page/detail/778adb94808a18ad84c92d36bf708a1b.png) 2x)
}

.header-logo-slogan {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 33px;
    position: relative;
    margin-left: 0;
    top: 8px;
    background: none
}

.header-logo-img {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    position: relative;
    top: -1px;
    background: none
}

.text-unread {
    height: 15px;
    background: #f1071f;
    border-radius: 7px;
    position: absolute;
    top: -9px;
    left: 100%;
    margin-left: -12px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding: 0 4px;
    font-family: tahoma
}

.icon-message {
    display: block;
    width: 27px;
    height: 19px;
    background: url(//om.gtimg.cn/page/detail/a9e033ab0801e4356b438ff1c0c75a33.svg) no-repeat;
    background-position: 44.0251572327044% 0
}

.business-container {
    margin: 0 17px
}

.business-container>h4 {
    line-height: 1;
    padding: 6px 11px;
    color: #999999;
    font-size: 13px;
    background: #F2F2F2;
    border-radius: 3px 3px 0 0
}

.business-container>h4>.label {
    display: inline-block;
    margin-right: 5px;
    margin-left: -2px;
    font-size: 12px;
    color: #FF3030;
    border: thin solid #FF3030;
    border-radius: 2px;
    -webkit-transform: scale(0.88);
    transform: scale(0.88)
}

.business-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 11px;
    padding-right: 17px;
    border-radius: 0 0 3px 3px;
    background-color: #fafafa
}

.business-mod .head {
    width: 68px;
    height: 68px
}

.business-mod .head img {
    border-radius: 4px
}

.business-mod .content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    max-width: 100%;
    margin-left: 16px
}

.business-mod .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    font-size: 16px;
    color: 222
}

.business-mod .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 4px
}

.business-mod .price {
    line-height: 25px;
    font-size: 18px;
    color: #ff8500
}

.business-mod .btn {
    padding: 5px 23px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 16px;
    background-color: #ffdb00
}

.page-video-detail .page-container {
    padding: 0
}

.page-video-detail .video-mod {
    margin-top: 0
}

.page-video-detail .video-mod>img {
    width: 100%;
    height: 100%
}

.page-video-detail .header {
    padding: 0 18px
}

.page-video-detail .header .desc {
    margin-top: 10px
}

.page-video-detail .header-pc {
    display: none
}

@media screen and (min-width: 1024px) {
    .page-video-detail .page-container {
        padding-top:90px
    }

    .page-video-detail .header {
        padding: 0
    }

    .page-video-detail .business-container {
        margin: 0
    }

    .page-video-detail .header-mobile {
        display: none
    }

    .page-video-detail .header-pc {
        display: block
    }

    .page-video-detail .header-pc .desc {
        margin-top: 20px
    }

    .page-video-detail-old .page-container {
        padding-top: 0
    }
}

.page-video .page-container {
    padding: 0
}

.media-img {
    width: 100%;
    height: 180px
}

.media-img img {
    display: block;
    width: 100%;
    height: 100%
}

.media-content {
    padding: 23px 16px 29px
}

.media-content .title {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    color: #222222
}

.media-content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px
}

.media-content .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.media-content .name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #444444
}

.media-content .time {
    margin-left: 20px;
    font-size: 14px;
    color: #bfc9d5
}

.media-content .desc {
    position: relative;
    margin-top: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #444;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis
}

.media-content .desc.open {
    -webkit-line-clamp: initial
}

.media-content .desc.open .collapse {
    position: initial;
    padding-left: 15px
}

.media-content .collapse {
    position: absolute;
    right: 0;
    bottom: -3px;
    color: #33a1d0;
    font-size: 14px;
    cursor: pointer;
    z-index: 4;
    padding-left: 47px;
    background: #fff
}

.video-list-mod {
    padding: 0 18px;
    padding-bottom: 40px
}

.video-list-mod .num {
    color: #444444;
    font-size: 14px
}

.video-list-mod .video-list {
    margin-top: 7px
}

.video-list-mod .video-list li {
    padding-top: 20px;
    padding-bottom: 29px;
    border-bottom: solid 1px #efefef
}

.video-list-mod .loading-more {
    display: none
}

.video-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.video-media-img {
    position: relative;
    width: 111px;
    height: 74px
}

.video-media-img img {
    display: block;
    width: 100%;
    height: 100%
}

.video-media-img .serial {
    position: absolute;
    top: 2px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5)
}

.video-media-img .duration {
    position: absolute;
    bottom: 3px;
    right: 6px;
    color: #fff;
    font-size: 12px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5)
}

.video-media-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    max-width: 100%;
    margin-left: 24px
}

.video-media .video-name {
    line-height: 26px;
    color: #000000;
    font-size: 16px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2
}

.video-media .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1;
    margin-top: 14px
}

.video-media .number {
    color: #222;
    font-size: 12px
}

.video-media .time {
    color: #b5b5b5;
    font-size: 12px
}

@media screen and (min-width: 669px) {
    .page-video {
        height:100%;
        overflow: hidden;
        overflow-y: auto;
        background: #e7ebee
    }

    .page-video .page-container {
        max-width: 669px;
        margin-top: 90px;
        margin-bottom: 70px;
        padding-top: 0;
        background: #fff
    }

    .page-video .media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 35px 28px 40px
    }

    .page-video .media-img {
        width: 290px;
        height: 150px
    }

    .page-video .media-content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        max-width: 100%;
        margin-left: 20px;
        padding: 0
    }

    .page-video .media-content .name {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial
    }

    .page-video .video-media-img {
        height: 80px
    }

    .page-video .video-media .video-name {
        height: 52px
    }

    .page-video .video-media .desc {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 17px
    }

    .page-video .video-media .number {
        font-size: 14px
    }

    .page-video .video-media .time {
        margin-left: 31px
    }

    .page-video .video-list-mod .video-list li {
        padding: 20px 0
    }

    .page-video .loading-more {
        display: block
    }
}

html,body {
    /* font-family: "PingFangSC", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif; */
    /* font-size: 62.5%; */
}

.main {
    padding: 2.9rem 1.8rem 64px 1.8rem;
}

html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    /* overflow-y: auto; */
}

h2.title {
    text-align: center;
    font-family: "PingFangSC-Semibold";
    font-size: 2.2rem;
    color: rgb(51, 51, 51);
    letter-spacing: 0rem;
    margin: 0 1.5rem;
    font-weight: bold;
}

.src {
    text-align: center;
    height: 2.1rem;
    line-height: 2.1rem;
    position: relative;
    margin: 30px 0;
    z-index: 1;
    vertical-align: text-bottom;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

/* .src span.label-tag {
    margin: 0;
    padding: 0 4px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    color: rgb(169, 169, 169);
    border-radius: 3px;
    border: 0.6px solid rgb(191, 191, 191);
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
} */
.src span.label-tag {
    margin: 0;
    padding: 0 4px;
    margin-top: 1px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: none;
    font-size: 11px;
    line-height: 16px;
    height: 16px;
    color: rgb(169, 169, 169);
    border-radius: 3px;
    /* border: 0.6px solid rgb(191, 191, 191); */
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

.src span.label-tag:before {
    content: '';
    position: absolute;
    width: 66px;
    height: 34px;
    border: 1px solid rgb(191, 191, 191);
    ; -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    left: -1px;
    top: -1px;
}

.src .logo {
    display: inline-block;
    margin: 0 3px 0 0;
    background: #fff url('//mat1.gtimg.com/om/om_2.0/h5_new/img/detail-page/iconArticleUserIdentification_2x.png') no-repeat center center;
    width: 18px;
    height: 18px;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle;
}

.src .author {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 1.6rem; */
    margin-right: 8px;
    font-size: 1.4rem;
    color: rgb(127, 127, 127);
    letter-spacing: 0.3px;
    line-height: 2.1rem;
    height: 2.1rem;
    text-align: left;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    vertical-align: bottom;
}

.src .author > svg {
    display: none;
}

.src .spider {
    margin: 0;
    padding: 0.1rem 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2px;
    color: rgb(216, 216, 216);
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

.src .time {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-top: 2px;
    margin-right: 6px;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 18px;
    vertical-align: middle;
    height: 18px;
    color: rgb(178, 178, 178);
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

.content-box {
    padding: 0rem;
}

p.text {
    font-size: 1.7rem;
    color: rgb(34, 34, 34);
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    text-align: justify;
    line-height: 2.8rem;
    margin: 20px 0;
    letter-spacing: 0;
}

p:last-child {
    margin-bottom: 0;
}

p.imgNode {
    margin: 0;
}

p.imgNode > img {
    border-radius: 0.8rem;
}

p.text.image_desc {
    font-size: 1.3rem;
    color: rgb(155, 155, 155);
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    letter-spacing: 0.12rem;
    line-height: 1.8rem;
    margin: 9px 0 2rem 0;
    text-align: center;
}

p.text.image_desc::before {
    display: none;
}

.video_play {
    margin: 20px 0;
}

.commentList {
    /* background: rgb(242, 242, 242); */
    padding: 0 16px;
    overflow: hidden;
    margin-top: -16px;
}

.voteContainer {
    margin-bottom: 0;
}

.commentList .allComment {
    text-align: center;
    margin: 0 0 48px 0;
}

.commentList .allComment .allCommentLabel {
    position: relative;
    font-size: 16px;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    display: inline-block;
}

.allCommentLabel::after, .allCommentLabel::before {
    display: block;
    content: '';
    width: 1.4rem;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 1rem;
}

.allCommentLabel::after {
    right: -2.5rem;
}

.allCommentLabel::before {
    left: -2.5rem;
}

.commentList .commentItem {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 14.5px;
    position: relative;
    overflow: hidden;
}

.commentList .commentItem::after {
    clear: both;
}

.commentList .commentItem .avatar {
    width: 30px;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 2px;
}

.commentList .commentItem .avatar img {
    border-radius: 50%;
}

.commentList .commentItem .contentWrapper {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    width: calc(100% - 40px);
    float: left;
    position: relative;
}

.commentList .commentItem .contentWrapper .commentNameWrapper {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    height: 2rem;
    line-height: 2rem;
    color: rgb(102, 102, 102);
    text-align: left;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

.commentNameWrapper::before, .commentNameWrapper::after {
    display: block;
    height: 0;
    clear: both;
    content: '';
}

.commentList .commentItem .contentWrapper .commentNameWrapper .commentName {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    height: 2rem;
    line-height: 2rem;
    color: rgb(102, 102, 102);
    text-align: left;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    float: left;
}

.commentList .commentItem .contentWrapper .commentNameWrapper .commentDate {
    padding: 0;
    margin: 0.2rem 0;
    font-size: 1.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
    color: rgb(187, 187, 187);
    text-align: left;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    float: right;
}

.commentList .commentItem .contentWrapper .commentContent {
    margin: 5px 0 7px 0;
    font-size: 1.6rem;
    line-height: 26px;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
}

.commentList .commentItem .contentWrapper .commentLikeWraper {
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    position: relative;
    padding-bottom: 15px;
}

/* .commentLikeWraper .commentLike {
    float: left;
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.2rem 0.4rem 0.25rem 0;
    background: #fff url('//mat1.gtimg.com/om/om_2.0/img/detail-page/iconArticleCommentLike.png') no-repeat center center;
} */
.commentLikeWraper .commentLikeNum {
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    /* float: left; */
    font-size: 1.3rem;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica;
    color: rgb(144, 144, 144);
    position: relative;
}

/*
.commentLikeWraper .commentLikeNum::before {
    display: block;
    background: #fff url('//mat1.gtimg.com/om/om_2.0/h5_new/img/detail-page/iconArticleCommentLike_2x.png') no-repeat center center;
    position: absolute;
    content: '';
    left: -1.6rem;
    top: 0.1rem;
    bottom: 0;
    width: 13px;
    height: 13px;
    top: 1px;
    background-size: 13px 13px;
}
*/
.commentLikeWraper::after {
    /* content: "";
    position: absolute;
    display: block;
    background: red;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px; */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    color: rgb(240, 240, 240);
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    width: 100%;
}

.commentList .commentItem:last-child .contentWrapper .commentLikeWraper {
    padding-bottom: 0;
}

.commentItem:last-child .commentLikeWraper::after {
    display: none;
}

.page-loading {
    /* margin: 0.1rem 0 0; */
    text-align: center;
    font-size: 0;
    height: 25px;
    margin-bottom: 25px;
}

.icon-loading {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    /* top: -0.005rem; */
    background: transparent url("//mat1.gtimg.com/om/om_2.0/h5_new/img/detail-page/loading-black.gif") no-repeat 0 0;
    background-size: 25px auto;
}

.page-loading.hide {
    display: none;
}

.comment-footer {
    margin: 25px 0 45px 0;
    height: 2.2rem;
    background: transparent url('//mat1.gtimg.com/om/om_2.0/h5_new/img/detail-page/end.png') no-repeat center center;
    background-size: 173px 13px;
    display: none;
}

.comment-footer.show {
    display: block;
}

@media screen and (max-width: 960px) {
    .top-header, .qrcode {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    body {
        background: #F8F9F9;
    }

    .top-header {
        height: 64px;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 24px;
        background: #FFFFFF;
    }

    .top-header>.logo-nav {
        background-size: 100% 300px;
        margin-left: 64px;
        display: flex;
        align-items: center;
        height: 64px;
    }

    .top-header>.logo-nav>.logo {
        width: 220px;
        height: 25px;
        background-size: cover;
        font-size: 0;
        color: transparent;
        background-image: url(https://om.gtimg.cn/om/om_4.0/assets/images/sprite_home_0724.png);
        background-repeat: no-repeat;
        background-size: 350px 140px;
        background-position: 0 0;
    }

    .page-container>.qrcode {
        position: absolute;
        background: #FFFFFF;
        right: -156px;
        top: 0;
        width: 140px;
        height: 147px;
        padding-top: 16px;
    }

    .page-container>.qrcode>.pic {
        width: 94px;
        height: 94px;
        display: block;
        margin: 0 23px;
    }

    .page-container>.qrcode>.txt {
        height: 12px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        text-align: center;
        line-height: 12px;
        margin-top: 9px;
    }

    .page-container {
        border-radius: 8px;
        max-width: 840px !important;
        position: relative;
        padding: 50px 72px 40px !important;
        background: #FFFFFF;
    }

    .page {
        background: #F8F9F9;
    }
}

/*# sourceMappingURL=detail.3b41c67.css.map*/
